@charset "UTF-8";

header{
	position: relative;
	background-color: #e7413f;
	width: 1260px;
	height: 100px;
	
}

body {
	position: absolute;
	background-color: yellow;
	width: 1260px;
	height: 700px;
}

a{
	
	position: absolute;
	left:1100px;
	bottom: 80px;
	font-size: 20px;
	
	
}