@charset "UTF-8";

div.LoginCss{
	position:relative;
	
	margin: 5px;
   
    width:200px;
    height:200px;
    background-color: yellow;
}

div.pass{
	display: inline-flex;
	position: absolute;
	top:80px;
	left:20px;
	
}
div.name{
	display: inline-flex;
	position: absolute;
	padding-left: 23px;
}

fieldset{
	width:200px;
	height:200px;
	margin: 5px;
}

input[type="submit"]{
	position: absolute;
	top: 120px;
	left:20px;
	
}